<div class="all-contenar">
<div class="d-flex justify-content-center align-items-center flex-column the-h2">
  <h2 class="fw-bold text-uppercase" id="About">About</h2>
  <hr style="border: solid rgb(0, 0, 0) 3px; width: 25%; margin: auto; display: block; border-radius: 50%;">
  <div class="d-flex justify-content-center align-items-center flex-column the-h2">
    <h3 class="fw-bold text-uppercase"> and How it works  </h3>
  <hr style="border: solid rgb(0, 0, 0) 2px; width: 65%; margin: auto; display: block; border-radius: 50%">
  <!-- ///////////////////////////////////// -->

  <div class=" text-center mt-5">
    <h2 class="fw-bold">How Does <span style="color: #ffc107;">GLOW LINE</span> Work and What Are Its Specialized Teams?</h2>
    <p class="lead">GLOW LINE has dedicated teams specializing in various fields to provide comprehensive solutions tailored to your business needs.</p>

    <div class="all-cordes row row-cols-1 row-cols-md-2 row-cols-lg-4 mt-5">


      <div class="card" style="width: 20rem;">
        <img src="../assets/imges/coding-card.jpg" class="card-img-top " alt="...">
        <div class="card-body">
          <h5 class="card-text"> Web Development & Programming Team</h5>
          <p class="card-text">Specialized in creating and developing websites and custom systems for businesses and commercial activities, ensuring innovative tech solutions that meet clients' requirements.</p>
        </div>
      </div>
      <!-- ////////////////////////// -->
      <div class="card" style="width: 20rem;">
        <img src="../assets/imges/markting-card.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-text"> Digital Marketing Team</h5>
          <p class="card-text">Focused on crafting effective marketing strategies that target the right audience, ensuring brand visibility and maximizing success through well-planned digital marketing campaigns.</p>
        </div>
      </div>
      <!-- ////////////////////////// -->
      <div class="card" style="width: 20rem;">
        <img src="../assets/imges/grhfiks-card.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-text"> Graphic Design & Creative Content Team</h5>
          <p class="card-text">Experts in designing logos, advertising materials, and animated videos that reflect the brand identity in a professional and captivating way.</p>
        </div>
      </div>
      <!-- ////////////////////////// -->
      <div class="card" style="width: 20rem;">
        <img src="../assets/imges/analiysis-card.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-text"> Market Research & Strategic Analysis Team</h5>
          <p class="card-text">Provides in-depth feasibility studies and market analysis to ensure the success of new projects, along with expert consultations to build professional strategies that guarantee long-term growth and competitiveness.</p>
        </div>
      </div>
      <!-- ////////////////////////// -->
     </div>

    <h3 class="mt-5 fw-bold ">With<strong style="color: #ffc107;"> GLOW LINE</strong>, we ensure your continuous success in this competitive era. </h3>
  </div>
</div>
