.custom-btn {
  position: relative;
  padding: 10px 20px;
  border-radius: 12px;
  background-color: rgb(20, 20, 20);
  border: 2px solid #ffc107;
  font-weight: 600;
  overflow: hidden;
  transition: color 0.7s ease;
  z-index: 10;
  color: white;
}

.navbar ul {
  list-style-type: none; /* إزالة النقاط */
  padding: 0; /* إزالة أي هوامش إضافية */
  margin: 0;
}

.custom-btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffc107;
  border-radius: 50%;
  transition: all 0.7s ease;
  right: -100%;
  top: 10%;
  transform: translateY(-25%) scale(1);
  z-index: -1;
}

.custom-btn:hover::before {
  right: 0;
  transform: scale(1.5);
}

.custom-btn:hover {
  color: rgb(0, 0, 0);
}


/* ///////////////////////START THE COMTOMIZE THE NAVBAR/////////////////////// */
.navbar {
  backdrop-filter: blur(4px);
}

.nav-item a {
  color: white;
}
.nav-item a {
  transition: transform 0.3s ease-out;
}

.nav-item:hover a {
  transform: scale(1.6);
}
.nav-item a::before,
.nav-item a::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 0%;
  background-color: #ffc107;
  transition: height 0.4s ease-in-out;
}
/* LEFT THE RIGHT LINE */
.nav-item a::before {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
/* HIGHT THE RIGHT LINE */
.nav-item a::after {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
/* SIZE THE LINE AND WORDS */
.nav-item:hover a::before,
.nav-item:hover a::after {
  height: 90%;
}



/* إخفاء العناصر في الشاشات الصغيرة */
@media (max-width: 767.98px) {
  /* إخفاء عناصر القائمة */
  .navbar-nav {
    display: none;
  }

  /* توسيط اللوجو في الشاشات الصغيرة */
  .navbar .container-fluid {
    justify-content: center;
  }

  /* إخفاء زر الهامبرغر إذا لزم الأمر */
  .navbar-toggler {
    display: none;
  }
}
