<div class="dark-part">
  <div class="container">
    <h2 class="projects text-uppercase" id="pro">Projects</h2>
    <hr style="border: solid rgb(255, 255, 255) 3px; width: 30%; margin: auto; display: block; border-radius: 50%;">
    <hr style="border: solid rgb(139, 139, 139) 2px; width: 15%; margin: auto; display: block; margin-top: 10px; border-radius: 50%">
    <div id="customCarousel" class="carousel slide w-100 mt-5" data-bs-ride="carousel">
      <div class="img-co carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-4">
              <img src="../assets/imges/Gemini_Generated_Image_vyn8msvyn8msvyn8.jpg" class="d-block w-100" alt="Image 1">
            </div>
            <div class="col-4">
              <img src="../assets/imges/Gemini_Generated_Image_2zoj0i2zoj0i2zoj.jpg" class="d-block w-100" alt="Image 2">
            </div>
            <div class="col-4">
              <img src="../assets/imges/Gemini_Generated_Image_aygic6aygic6aygi.jpg" class="d-block w-100" alt="Image 3">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-4">
              <img src="../assets/imges/Gemini_Generated_Image_2zoj0i2zoj0i2zoj.jpg" class="d-block w-100" alt="Image 4">
            </div>
            <div class="col-4">
              <img src="../assets/imges/Gemini_Generated_Image_lqxylnlqxylnlqxy.jpg" class="d-block w-100" alt="Image 5">
            </div>
            <div class="col-4">
              <img src="../assets/imges/Gemini_Generated_Image_s1tiyxs1tiyxs1ti.jpg" class="d-block w-100" alt="Image 6">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-4">
              <img src="../assets/imges/Gemini_Generated_Image_s84pabs84pabs84p.jpg" class="d-block w-100" alt="Image 7">
            </div>
            <div class="col-4">
              <img src="../assets/imges/Gemini_Generated_Image_vyn8msvyn8msvyn8.jpg" class="d-block w-100" alt="Image 8">
            </div>
            <div class="col-4">
              <img src="../assets/imges/Gemini_Generated_Image_2zoj0i2zoj0i2zoj.jpg" class="d-block w-100" alt="Image 9">
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#customCarousel" data-bs-slide="prev">
        <i class="fa-solid fa-caret-left"></i>
        <span aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#customCarousel" data-bs-slide="next">
        <i class="fa-solid fa-caret-right"></i>
        <span aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>


